/* Page-sizing */
body {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Prompt', sans-serif;
    max-width: 1000px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Header */

header {
    background-color: #1282A2;
    height: 100px;
    width: 98vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    border-bottom: solid black; 
    padding-bottom: 10px;
}

nav {
    color: white;
}

.nav-links:link {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}
.nav-links:visited {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}

.nav-links:hover {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}


/* Body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;

}


@keyframes slideInFromLeft {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .row-container {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 220px;
  }

  .card {
    width: 400px;
  }


  /* Footer */

  footer {
    background-color: #1282A2;
    height: 100px;
    width: 98vw;
    padding: 10px;
  }