/* Page-sizing */
body {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Prompt', sans-serif;
    max-width: 1000px;
    margin:0;
    padding: 0;
}

/* Header */

header {
    background-color: #1282A2;
    height: 100px;
    width: 99vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.title {
    color: white;
    border-bottom: solid black; 
    padding-bottom: 10px;
}

.nav-links:link {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}
.nav-links:visited {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}

.nav-links:hover {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}


/* Body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: auto;

}


@keyframes slideInFromLeft {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .row-container {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 20px;
    /* box-shadow: 5px 5px 5px 5px #1282A2 ; */
  }

  .card {
    width: 500px;
    /* border: solid black 1px; */
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    box-shadow: 3px 3px 3px 3px #1282A2;
  }
  .offer-btns{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #1282A2;
    padding: 14px 30px;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 0;
  }
  .offer-btns:hover{
    background-color: #1282A2;
    color: white;
  }


  /* Footer */

  footer {
    background-color: #1282A2;
    height: 50px;
    width: 100vw;
    padding: 10px;
    position: absolute;
    overflow-x: hidden;
  }