/* Page-sizing */
body {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Prompt', sans-serif;
    max-width: 1000px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

/* Header */

header {
    background-color: #1282A2;
    height: 100px;
    width: 98vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    border-bottom: solid black; 
    padding-bottom: 10px;
}

nav {
    color: white;
}

.nav-links:link {
    padding: 5px;
    color: white;
    transition: 1s;

}

.nav-links:hover {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}


/* Body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;

}


