body {
    font-family: 'Philosopher', sans-serif;
    font-family: 'Prompt', sans-serif;
    max-width: 1000px;
    margin:0;
    padding: 0;
}

/* Header */

header {
    background-color: #1282A2;
    height: 100px;
    width: 99vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
}

.title {
    color: white;
    border-bottom: solid black; 
    padding-bottom: 10px;
}

.nav-links:link {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}
.nav-links:visited {
    padding: 5px;
    color: white;
    transition: 1s;
    text-decoration: none;

}

.nav-links:hover {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
}

.create-container {
    height: 400px;
    width: 400px;
    border: solid 2px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 110px;
}

.btn{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #1282A2;
    padding: 14px 30px;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 0;
  }
  .btn:hover{
    background-color: #1282A2;
    color: white;
  }

footer {
    background-color: #1282A2;
    height: 50px;
    width: 100vw;
    padding: 10px;
    position: absolute;
    overflow-x: hidden;
  }